<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>TYRUNNERSAURUS REX! </title>

    <script type="text/javascript" src="js/phaser.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <style type="text/css">
      body {
        font-family: Arial;
        color:rgba(0,0,0, 0.3);
        text-align: center;
      }
      canvas {
        margin: 0 auto;
      }
      #tut {
        padding: 20px;
      }
    </style>
</head>

<body>

    <div id="gameDiv"> </div>
    <div id="tut">
	<b>jump to avoid cacti and shoot pterodactyls to stay alive</b><br><br>
      space = fire <br> left and right = move <br> up = jump
    </div>
</body>
</html>
